header {
  padding-top: 15px;
  position: relative;
  text-align: center;
  color: white;
}

.header {
  position: relative;
  text-align: center;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__score {
    text-shadow: 5px 5px 5px black;
    font-family: "Yanone Kaffeesatz";
    font-size: 40px;
    font-weight: 700;
    @media (max-width:1020px){
      @include adaptiv-1000(font-size, 40, 24);
    }
  }
}

.logo {
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  z-index: 1;
  border-radius: 20px;
  height: 100px;
  width: 180px;
  box-shadow: inset 0px 0px 5px 5px black;
  background: url("../../img/preview/kish4.jpg") no-repeat 50% 10%;
  background-size: cover;
  @media (max-width:1120px) {
    @include adaptiv-1000(width, 180, 160);
    @include adaptiv-1000(height, 100, 50);
  }
  @media (max-width: 863px) {
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
  }
  &__text {
    position: absolute;
    z-index: 1;
    font-family: "Yanone Kaffeesatz";
    bottom: 8px;
    font-size: 54px;
    text-shadow: 5px 5px 5px black;
    color: white;
    @media (max-width:1120px) {
      display: none;
    }
  }
}