header {
  position: relative;
  text-align: center;
  color: white;
}

.header {
  &__top {
    position: relative;
    text-align: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 863px) {
      justify-content: center;
    }
  }
  &__top-title {
    font-size: 90px;
    text-shadow: 5px 5px 5px black;
    @media (max-width:1120px) {
      @include adaptiv-1000(font-size, 90, 30);
    }

    font-family: "Yanone Kaffeesatz";
    font-weight: 700;
  }
}
